<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="UTF-8">
      <title>Title</title>
      <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
      <table class="table table-hover">
            <thead>
                  <tr>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                  </tr>
            </thead>
            <tbody>
                  <tr th:each="user:${userList}">
                        <td th:text="${user.name}">cold92</td>
                        <td th:text="${user.age}">18</td>
                        <td th:text="${user.sex}">male</td>
                        <td>
                              <a th:href="@{/user/toUpdate(name=${user.name})}">修改</a>
                              <a th:href="@{/user/delete(name=${user.name})}">删除</a>
                        </td>
                  </tr>
            </tbody>
      </table>
      <a th:href="@{/user/toAdd}">add</a>
</body>
</html>